<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans     
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd     
	http://www.springframework.org/schema/tx    
	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd    
	http://www.springframework.org/schema/aop    
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd    
	http://www.springframework.org/schema/context    
	http://www.springframework.org/schema/context/spring-context-3.0.xsd"
	default-autowire="byName">

	<!-- Dao配置区域 -->
	<bean id="dao" class="cn.future.common.dao.Dao" scope="prototype"></bean>	
	<bean id="baseDao" class="cn.future.common.dao.BaseDao" scope="prototype"></bean>
	<bean id="baseTypeDao" class="cn.future.common.dao.BaseTypeDao" scope="prototype"></bean>	
	<!-- <bean id="mongoDao" class="cn.future.dao.MongoDao" scope="prototype"></bean>	 -->
	
	<!-- 静态bean工厂获取 -->
	<bean id="beanFactoryHelper" class="cn.future.common.service.impl.BeanFactoryHelper"></bean>

	<!-- 配置服务 -->
	<bean id="configService" class="cn.future.common.service.impl.ConfigServiceImpl" scope="prototype"></bean>
	
	<!-- service 配置区域 --> 
	<bean id="commonService" class="cn.future.common.service.impl.CommonServiceImpl" scope="prototype"></bean>
	<bean id="configHelper" class="cn.future.common.service.impl.ConfigHelperImpl"></bean>
	<bean id="baseService" class="cn.future.common.service.impl.BaseService" scope="prototype"></bean>
 	
	<!-- session管理服务 -->	
	<bean id="sessionManageService" class="cn.future.common.service.impl.SessionManageServiceImpl" scope="prototype"></bean>
</beans>