.file-manage-view{
  .file-directory-list{
    .search-query{
      margin-bottom: 20px;
    }
    table{
      .active{
        color: #333333;
        text-decoration: none;
        background-position: 0 -15px;
        -webkit-transition: background-position 0.1s linear;
        -moz-transition: background-position 0.1s linear;
        -o-transition: background-position 0.1s linear;
        transition: background-position 0.1s linear;
      }
    }
  }
  .file-directory-name{
     width: 120px;
   }
}